{% extends 'base.html.twig' %}

{% block title %}Hello GameController!
{% endblock %}

{% block body %}
	{# {{ dump(games) }} #}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container">
		<h1 class="text-center my-4">Game list</h1>
		<div class="row">
			{% for game in games %}
				<div class="card mx-3" style="width: 18rem;">
					<div class="card-head p-2">
						<h3 class="card-title">{{ game.title }}</h3>
					</div>
					<div class="card-body">
						<p class="card-text">{{ game.description}}</p>
						<a href="{{ path('app_show_game', {id: game.id}) }}" class="card-link">Card link</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
